---
# Core
Language: Cpp
BasedOnStyle: Google
InsertBraces: true
IncludeBlocks: Merge
# Alignment
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
AlwaysBreakTemplateDeclarations: true
AlignConsecutiveAssignments: true
# Indentation
IndentWrappedFunctionNames: true
PackConstructorInitializers: NextLineOnly
IndentPPDirectives: AfterHash
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: InlineOnly
